# =========================================
# PYTHON
# =========================================

__pycache__/
*.py[cod]
*$py.class

*.so


# =========================================
# VIRTUAL ENVIRONMENTS
# =========================================

venv/
.venv/
env/
ENV/
env.bak/
venv.bak/


# =========================================
# ENVIRONMENT VARIABLES
# =========================================

.env
.env.*
!.env.example


# =========================================
# DATABASE
# =========================================

*.db
*.sqlite
*.sqlite3

database/*.db
database/*.sqlite
database/*.sqlite3


# =========================================
# IDE / EDITOR
# =========================================

.vscode/
.idea/

*.swp
*.swo


# =========================================
# OPERATING SYSTEM
# =========================================

.DS_Store
Thumbs.db


# =========================================
# FLASK
# =========================================

instance/
.webassets-cache/


# =========================================
# TESTING
# =========================================

.pytest_cache/
.coverage
htmlcov/


# =========================================
# LOGS
# =========================================

*.log


# =========================================
# LOCAL CONFIGURATION
# =========================================

config.local.py
settings.local.py
